.float {
  align-items: center;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: upAndDown;
  animation-timing-function: linear;
  background-color: #9eb0a2;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  height: 30px;
  justify-content: center;
  width: 30px;
  z-index: 1;
}

.float:hover {
  animation-play-state: paused;
}

.float:hover .floatText {
  opacity: 1;
  transition: 0.3s cubic-bezier(0.615, 0, 0.07, 1) opacity;
}

.float:before {
  background-color: #9eb0a2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  content: '';
  height: 30px;
  left: 0px;
  position: absolute;
  transition: 0.5s ease-out width;
  width: 30px;
  will-change: width;
  z-index: 0;
}

.float:hover:before {
  transition: 0.3s cubic-bezier(0.615, 0, 0.07, 1) width;
  width: 280%;
}

.floatIcon {
  z-index: 1;
}

.floatText {
  color: #fff;
  left: 36px;
  opacity: 0;
  position: absolute;
  transition: 2s ease-out opacity;
  will-change: opacity;
}

@keyframes upAndDown {
  0%,
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15%);
  }
}
