.summaryItem {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
}

.icon {
  display: flex;
  flex: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.content > :first-child {
  font-size: 22px;
  font-weight: 900;
  margin-left: 0.5rem;
}

.description {
  text-align: center;
}
