.air {
  position: absolute;
  top: 1rem;
  filter: grayscale(1) opacity(0.4);
}

.box {
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid rgba(0, 209, 111, 0.2);
  box-shadow: rgba(0, 209, 111, 0.35) 4px 4px 25px;
  min-width: 23rem;
  padding: 3.5rem 2rem 1rem 2rem;
  position: relative;
}

.box::before {
  background-color: rgb(0, 209, 111);
  border-radius: 4px;
  color: #fff;
  content: "#اسنپ_من";
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.3rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-2rem, -50%);
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  left: 1rem;
  position: absolute;
  top: 1rem;
}

.buttonWrapper > div {
  margin-bottom: 0.5rem;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.content > :first-child {
  font-size: 22px;
  font-weight: 900;
  margin-left: 0.5rem;
}

.date {
  border-top: 1px solid #c8cee0;
  padding-top: 1rem;
  white-space: pre;
}

.description {
  text-align: center;
}

.elements {
  position: absolute;
  bottom: 1rem;
  width: 380px;
  height: 280px;
}

@media screen and (max-width: 1200px) {
  .elements {
    width: 280px;
    height: 200px;
  }
}

@media screen and (min-width: 900px) {
  .elements {
    left: 1rem;
  }
}

@media screen and (max-height: 950px) {
  .elements {
    display: none;
  }
}

.row {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
}

.summary {
  align-items: center;
  direction: rtl;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 4rem;
  position: relative;
  width: 100%;
}

.icon {
  display: flex;
  flex: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
